.contact-container {
  background-color: var(--blue);
  padding-bottom: 1rem;
}

.contact-info {
  padding: 1.5rem 0 0 0;
  margin: 0 1.7rem;
}

.contact-title p {
  margin: 0 0 0.3rem 0;
  font-size: 0.7rem;
  color: var(--gray);
  letter-spacing: 0;
}

.contact-title {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.contact-description {
  color: var(--gray);
  font-size: 0.9rem;
  font-weight: 300;
  text-align: justify;
  width: 80%;
}

.contact-description p {
  color: var(--light-blue);
  letter-spacing: 1.2px;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 0.5rem;
}

.contact-form {
  margin: 3rem 4rem;
}

.form-section {
  margin: 3rem 0;
}

.form-section .form-label {
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

input {
  color: var(--white);
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--gray-input);
  width: 100%;
}

input:focus {
  outline: none;
}

.send-mail {
  display: flex;
  align-items: center;
}

.fa-paperclip {
  color: var(--gray-input);
  margin: 0 1.3rem;
  cursor: pointer;
}

.fa-arrow-right {
  color: var(--light-blue);
  cursor: pointer;
}

textarea#styled {
  color: var(--white);
  border: 0;
  border-bottom: 1px solid var(--gray-input);
  background-color: transparent;
  width: 100%;
  outline: red;
}

@media screen and (min-width: 768px) {
  .contact-container {
    padding-bottom: 3rem;
  }

  .contact-info {
    padding: 2rem 0 0 0;
    margin: 0 3rem;
  }

  .contact-title p {
    margin: 0 0 0.3rem 0;
    font-size: 0.85rem;
  }

  .contact-title {
    font-size: 1.6rem;
  }

  .contact-description {
    font-size: 1rem;
  }

  .contact-description p {
    font-size: 1rem;
  }

  .contact-form {
    margin: 3rem 10rem;
  }

  .form-section {
    margin: 4rem 0;
  }

  .form-section .form-label {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  input {
    color: var(--white);
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--gray-input);
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  .send-mail {
    display: flex;
    align-items: center;
  }

  .fa-paperclip {
    color: var(--gray-input);
    margin: 0 1.3rem;
    cursor: pointer;
  }

  .fa-arrow-right {
    color: var(--light-blue);
    cursor: pointer;
  }

  textarea#styled {
    color: var(--white);
    border: 0;
    border-bottom: 1px solid var(--gray-input);
    background-color: transparent;
    width: 100%;
  }
}
