nav {
  background-color: var(--blue);
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  height: 4.5rem;
  position: relative;
}

.fa-bars {
  color: var(--light-blue);
  height: 100%;
  margin-left: 1.7rem;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img {
  height: 3rem;
}

/*  */

.nav-options {
  visibility: hidden;
  position: absolute;
  display: grid;
  grid-template-columns: 85% 15%;
  background-color: var(--blue);
  width: 100%;
  height: 4.5rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.options a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2rem;
}

.initial-option {
  position: relative;
}

.initial-option span {
  position: absolute;
  display: block;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 100%;
  background-color: var(--light-blue);
}

.closeMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-blue);
}

@media screen and (min-width: 768px) {
  nav {
    grid-template-columns: repeat(2, 50%);
    height: 5.5rem;
  }

  .burger-menu {
    display: none;
  }

  .closeMenu {
    display: none;
  }

  .brand {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    margin: 0 0 0 3rem;
    justify-content: flex-start;
  }

  .nav-options {
    visibility: visible;
    position: initial;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0 2rem 0 0;
    display: flex;
    background-color: none;
    width: auto;
    height: 100%;
  }

  .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100%;
    font-weight: 500;
    letter-spacing: 0.8px;
  }
}

@media screen and (min-width: 1152px) {
  .brand {
    margin: 0 0 0 4.5rem;
  }

  .nav-options {
    margin: 0 4.5rem 0 0;
  }

  .options {
    justify-content: flex-start;
  }

  .options > a {
    margin: 0 20% 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .options > a {
    margin: 0 25% 0 0;
  }
}
