@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --blue: #333647;
  --light-blue: #43fff4;
  --dark-blue: #252734;
  --blue-project: rgb(67, 255, 244, 0.5);
  --white: #f8f8f8;
  --gray: #c2c2c2;
  --gray-input: #717171;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

@media screen and (min-width: 1280px) {
  body::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
    background-color: var(--dark-blue);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--light-blue); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
}
